@media (max-width: 1050) {
  .home__info {
    /* background-color: aqua; */
    width: 80%;
  }
}
@media (max-width: 935px) {
  .main__home {
    height: 100vh;
    padding-bottom: 20px;
  }

  .main__about,
  .main__projects {
    padding: 10px 10vw 0 10vw;
  }
  .about {
    padding: 0 0 40px 40px;
    text-align: justify;
    font-size: 16px;
  }
  .msg {
    font-size: 18px;
  }
  .projects__project {
    width: 300px;
  }
  .project__img img {
    /* width: 100%; */
    height: 200px;
    /* object-fit: cover; */
    /* transition: all 1s; */
  }
}
@media (max-width: 875px) {
  .projects__project {
    width: 250px;
  }
  .project__img img {
    /* width: 100%; */
    height: 150px;
    /* object-fit: cover; */
    /* transition: all 1s; */
  }

  .project__title h3 {
    padding: 10px;
    font-size: 20px;
    height: 40px;
  }
  .project__btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  .project__technologies {
    display: flex;
    justify-content: space-evenly;
    /* background-color: linear-gradient(to top,#173c5e, #269c5f); */
    /* background: linear-gradient(#deebf7, #269c5f); */
    background: linear-gradient(0.25turn, #269c5f, rgb(163, 211, 186));
  }
}
@media (max-width: 750px) {
  .nav__menu {
    display: block;
    position: fixed;
    /* justify-content: right; */
    right: 10px;
    transition: all 1s ease;
    /* background-color: red; */
    color: var(--main-color);
    z-index: 999;
  }
  .nav__menu:hover {
    color: #269c5f;
  }
  .nav__menu i {
    cursor: pointer;
    font-size: 35px;
  }
  .body.active {
    overflow: hidden;
  }
  .nav__menu.active {
    transition: all 1s ease;
    color: #269c5f;
  }
  .nav__links {
    position: fixed;
    top: 0;
    left: 0;
    /* align-content: flex-start; */
    text-align: left;
    transition: all 1s ease;
    transform: translateX(800px);
    background-color: rgba(23, 60, 94, 1);
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    display: none;
    z-index: 990;
    display: flex !important;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
  }
  .nav__link {
    background-color: #408bd0;
    padding: 10px;
    height: auto;
    width: 50%;
    text-align: center;
    /* margin: 50px; */
    /* margin: 10px; */
    /* padding: 10px; */
  }
  .nav__btn {
    color: #fff;
  }
  .nav__btn:hover {
    color: #fff;
  }
  .nav__link:hover {
    background-color: #269c5f;
  }
  .nav__links.active {
    display: block;
    transition: all 2s ease-in-out;
    transform: translateX(0);
    /* background-color: rosybrown; */
  }

  .section__title {
    font-size: 25px;
  }
  .section__title span {
    /* animation: sectionTab 0.5s ease infinite; */
    font-size: 30px;
  }
  .content__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home__name {
    text-align: center;
  }
  .home__name .name__p {
    font-size: 16px;
  }
  .home__photo img {
    width: 60%;
    height: auto;
    object-fit: cover;
  }
  .home__cv {
    margin-top: 20px;
  }
  .home__cv a {
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
  }
  .home__cv a:hover {
    transition: all 0.2s ease;
    background-color: #173c5e;
    animation: cv-move 0.9s infinite ease-in-out;
    animation-direction: alternate;
  }

  .msg {
    /* width: 200px;
        background-color: red;
        font-size: 10px; */
    display: none;
  }

  .list__el {
    padding: 0px 2px 0px 2px;
    margin: 0px 5px 10px 0px;
    list-style: none;
    background-color: aliceblue;
    /* border-radius: 10px; */
    border-bottom: 3px solid var(--main-color);
    width: 40%;
    height: 60px;
    cursor: pointer;
  }
  .el__name {
    /* background-color: #269c5f; */
    /* font-weight: bold; */
    font-size: 16px;
    margin: 0;
  }
  .el__icon {
    /* background-color: #408bd0; */
    font-size: 20px;
  }

  .projects__project {
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    width: 100%;
    background-color: inherit;
  }
  .project__img img {
    height: 150px;
  }
}
